/* Colors
 * Red #FF4F46
 * light red #FF886E
 * Black #212008
 * Yellow #FFF560
 * White #FFFFFA
 * Blue #02D7D8
 */




/* record button */
#record-button-holder {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
}

#record-button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    cursor: pointer;
    border: 2px solid #212008;
    float: left;
    transition: all .2s ease-in-out;
}

#record-button:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transition: all .2s ease-in-out;
}

#record-button-inner {
    background: #FF4F46;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-animation: flash-color 1s ease-in-out 0s infinite alternate;
}

#record-button:hover #record-button-inner {
    background: #FF886E;
    transition: all .2s ease-in-out;
    -webkit-animation: none;
}

#record-button #record-button-inner {
    background: #FF4F46;
    transition: all .2s ease-in-out;
}

#record-button-inner.square {
    border-radius: 0%;
    transition: all .2s ease-in-out;
}

@-webkit-keyframes flash-color {
    0% {background: #FF4F46;}
    70% {background: #FF4F46;}
    100% {background: #FF886E;}
}



/* other stuff */

html {
    background: #FFFFFA
}

rect, path {
    fill: #212008;
    stroke: #212008;
}

#canvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 820px;
	height:900px;
}

.note-1 {
    fill: orange;
    stroke: orange;
}
