/* Colors
 * Red #FF4F46
 * light red #FF886E
 * Black #212008
 * Yellow #FFF560
 * White #FFFFFA
 * Blue #00BEE8
 */


html {
    background: #FFFFFA;
    color: #212008;
}

.note-detected {
    background: #FF4F46;
}

#mainDiv {
    margin: auto;
    width: 1150px;
    height: 1000px;
}

#subsidiaryDiv {
    float:left;
    width: 1075px;
    height: 1000px;
}

/* record button */
#record-button{
    width: 75px;
    height: 75px;
    margin: auto;
    position: relative;
    cursor: pointer;
    color: #FF4F46; 
    transition: all .2s ease-in-out;
    margin-top: 50px;
}

#record-button i {
    position: absolute;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0
}

.pulse-red {
    -webkit-animation: flash-color 1s ease-in-out 0s infinite alternate; 
}


#record-button:hover i {
    -webkit-animation: none;
    color: #FF886E;
    transition: all .2s ease-in-out;
}

@-webkit-keyframes flash-color {
    0% {color: #FF4F46;}
    70% {color: #FF4F46;}
    100% {color: #FF886E;}
}

#play-control {
    color:#33F;
    cursor: pointer;
    float:left;
    width:28px;
    margin-top: 20px;
}

#play-control:hover i {
    color: #00BEE8;
}

#info {
    color:#33F;
    cursor: pointer;
    float:right;
    width:28px;
    margin-top: 20px;
}

#info:hover i {
    color: #00BEE8;
}


/* other stuff */ 


path {
    fill: #212008;
    stroke: #212008;
}

rect {
    stroke: #212008;
	
}

#canvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 820px;
	height:900px;
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: translate(0px,10px); }
    33% { -webkit-transform: translate(0px,-5px); }
    66% { -webkit-transform: translate(0px, 3px); }
    100% { -webkit-transform: translate(0px,0px); }
}




.latest-note {
    -webkit-animation: bounce .1s ease-in-out;
}


